// Fixed Sidebar

.fixed-sidebar {
  .app-sidebar {
    position: fixed;
    height: 100vh;
  }

  .app-main {

    .app-main__outer {
      padding-left: $app-sidebar-width;
    }

  }

  &.fixed-header {
    .app-sidebar {
      .app-header__logo {
       // display: none;
      }
    }
  }

  &:not(.fixed-header) {
    .app-sidebar {
      .app-header__logo {
        display: flex;
      }
    }
    @include media-breakpoint-up(lg) {
      .app-header {
        margin-left: $app-sidebar-width;
      }
    }
    .app-header {
      .app-header__logo {
        display: none;
      }
    }

    .app-main {
      //z-index: 12;
    }
  }

  &.closed-sidebar {
    &:not(.fixed-header) {

      .app-header {
        margin-left: $app-sidebar-width-collapsed;
      }

      .app-sidebar {

        .app-header__logo {
          width: 100%;
          padding: 0rem 1rem;

          .logo-src {
            display: none;
          }

          .header__pane {
            margin-right: auto;
          }
        }
      }
    }
  }
}