{{#> base }}
    {{> AppSidebar/sidebar-cm dashboards-panel=this }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="card mb-3 widget-chart p-lg-4">
                        <div class="widget-chart-content m-lg-3">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <p class="widget-subheading text-start">Total Orders</p>
                                    <p class="text-primary-cm m-0">HOY</p>
                                </div>
                                <div class="widget-numbers text-start">
                                    <span class="text-primary-cm">$300.000</span>
                                </div>
                            </div>
                            <hr class="my-lg-4">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <p class="widget-subheading text-start">Total Orders</p>
                                    <p class="text-terciary-cm m-0">08/09/2021</p>
                                </div>
                                <div class="widget-numbers text-start">
                                    <span class="text-terciary-cm">$300.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="card mb-3 widget-chart p-lg-4">
                        <div class="widget-chart-content m-lg-3">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <p class="widget-subheading text-start">Total Orders</p>
                                    <p class="text-teal m-0">09/2022</p>
                                </div>
                                <div class="widget-numbers text-start">
                                    <span class="text-teal">$300.000</span>
                                </div>
                            </div>
                            <hr class="my-lg-4">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <p class="widget-subheading text-start">Total Orders</p>
                                    <p class="text-success m-0">08/2022</p>
                                </div>
                                <div class="widget-numbers text-start">
                                    <span class="text-success">$300.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white border-0">
                             <span class="badge-primary-cm rounded-2 px-3 fw-normal">HOY</span>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item collapse-span" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            <span></span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="collapseExample">
                            <table class="mb-0 table table-borderless table-card table-responsive">
                                <thead>
                                    <th colspan="3" class="font-size-md">Samsung Retailer</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-size-">$44.340.980</td>
                                        <td class="align-items-center">
                                            <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                            78
                                        </td>
                                        <td class="align-items-center">
                                            <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                            5
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <table class="mb-0 table table-borderless table-card table-responsive">
                                <thead>
                                    <th colspan="3" class="font-size-md">Zerotouch Retailer</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-size-">$68.630.144</td>
                                        <td class="align-items-center">
                                            <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                            121
                                        </td>
                                        <td class="align-items-center">
                                            <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                            9
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <table class="mb-0 table table-borderless table-card table-responsive">
                                <thead>
                                    <th colspan="3" class="font-size-md">Línea Electro</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-size-">$10.340.650</td>
                                        <td class="align-items-center">
                                            <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                            5
                                        </td>
                                        <td class="align-items-center">
                                            <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                            5
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white border-0">
                            <span class="badge-primary-cm rounded-2 px-3 fw-normal">04/08/2022</span>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item collapse-span" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            <span></span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="collapseExample">
                            <table class="mb-0 table table-borderless table-card">
                                <thead>
                                <th colspan="3" class="font-size-md">Samsung Retailer</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font-size-">$44.340.980</td>
                                    <td class="align-items-center">
                                        <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                        78
                                    </td>
                                    <td class="align-items-center">
                                        <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                        5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <table class="mb-0 table table-borderless table-card">
                                <thead>
                                <th colspan="3" class="font-size-md">Zerotouch Retailer</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font-size-">$68.630.144</td>
                                    <td class="align-items-center">
                                        <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                        121
                                    </td>
                                    <td class="align-items-center">
                                        <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                        9
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <table class="mb-0 table table-borderless table-card">
                                <thead>
                                <th colspan="3" class="font-size-md">Línea Electro</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font-size-">$10.340.650</td>
                                    <td class="align-items-center">
                                        <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                        5
                                    </td>
                                    <td class="align-items-center">
                                        <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                        5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white border-0">
                            <span class="badge-primary-cm rounded-2 px-3 fw-normal">04/08/2022</span>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item collapse-span" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            <span></span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="collapseExample">
                            <table class="mb-0 table table-borderless table-card">
                                <thead>
                                <th colspan="3" class="font-size-md">Samsung Retailer</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font-size-">$44.340.980</td>
                                    <td class="align-items-center">
                                        <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                        78
                                    </td>
                                    <td class="align-items-center">
                                        <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                        5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <table class="mb-0 table table-borderless table-card">
                                <thead>
                                <th colspan="3" class="font-size-md">Zerotouch Retailer</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font-size-">$68.630.144</td>
                                    <td class="align-items-center">
                                        <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                        121
                                    </td>
                                    <td class="align-items-center">
                                        <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                        9
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="divider"></div>
                            <table class="mb-0 table table-borderless table-card">
                                <thead>
                                <th colspan="3" class="font-size-md">Línea Electro</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font-size-">$10.340.650</td>
                                    <td class="align-items-center">
                                        <i class="fa fa-check-circle text-action-cm-green-2 font-size-xlg"></i>
                                        5
                                    </td>
                                    <td class="align-items-center">
                                        <i class="fa fa-times-circle text-action-cm-orange font-size-xlg"></i>
                                        5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/ base }}