{{#> base }}
    {{> AppSidebar/sidebar-cm dashboards-retailer=this }}

    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTiendas" aria-expanded="true" aria-controls="collapseTiendas">
                                <img width="20" class="me-2 arrow" src="assets/images/arrow.png" alt="">
                                <h5 class="fw-light mb-0 text-muted">Tiendas</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 px-3 collapse show" id="collapseTiendas">
                            <div class="d-flex my-md-4 my-2">
                                <button type="button" tabindex="0" class="btn btn-primary-cm btn-pill align-items-center d-flex btn-icon-none-m">
                                    <i class="crediminuto icons-slim-plus me-md-2"></i>
                                    <span>Agregar una tienda</span>
                                </button>
                                <button type="button" tabindex="0" class="btn btn-primary-cm btn-pill align-items-center d-flex ms-md-3 btn-icon-none-m">
                                    <i class="crediminuto icons-slim-download me-md-2"></i>
                                    <span>Descargar</span>
                                </button>
                                <button type="button" tabindex="0" class="btn btn-primary-cm btn-pill align-items-center d-flex ms-md-3 btn-icon-none-m">
                                    <i class="crediminuto icons-slim-reload me-md-2"></i>
                                    <span>Actualizar riesgo</span>
                                </button>
                            </div>
                            <form action="" class="row">
                                <div class="position-relative form-group col-md-6 mt-md-3 mt-3">
                                    <label for="name-nit" class="">Nombre / Nit</label>
                                    <input name="text" id="name-nit" placeholder="Ingresa el nombre" class="form-control mt-2" required>
                                </div>
                                <div class="position-relative form-group col-md-6 mt-md-3 mt-3">
                                    <label for="status" class="">Status</label>
                                    <select name="select" id="status" class="form-select mt-2" required>
                                        <option value="" disabled selected>Selecciona una opción</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="position-relative form-group col-md-6 mt-md-3 mt-3">
                                    <label for="name-alienza" class="">Aliado / Libranza</label>
                                    <input name="text" id="name-alienza" placeholder="Ingresa el nombre" class="form-control mt-2" required>
                                </div>
                                <div class="position-relative form-group col-md-6 mt-md-3 mt-4 align-items-end d-flex">
                                    <button type="button" tabindex="0" class="btn btn-primary-cm btn-pill">
                                        Buscar
                                    </button>
                                    <button type="button" tabindex="0" class="btn btn-outline-primary-cm ms-3 btn-pill">
                                        Refresh
                                    </button>
                                </div>
                            </form>
                            <!--Tabla de datos-->
                            <div class="table-responsive mt-md-5 mt-4 pt-2">
                                <div class="bg-primary-cm p-2 rounded-top">
                                    <h5 class="fw-light mb-0 text-white">Lista de tiendas</h5>
                                </div>
                                <table class="table mt-0 responsive nowrap" id="example" data-page-length='5' style="width:100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Oferta</th>
                                        <th>Dispositivo</th>
                                        <th>Nombre</th>
                                        <th>Nit</th>
                                        <th>Email</th>
                                        <th>Teléfono</th>
                                        <th>Comisiones</th>
                                        <th>Aliado libranza</th>
                                        <th>Nivel de riesgo</th>
                                        <th>Estado</th>
                                        <th>Creado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-edit"></i>
                                            </a>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-mark-location"></i>
                                            </a>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-download"></i>
                                            </a>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-delete"></i>
                                            </a>
                                        </td>
                                        <td>Mensual</td>
                                        <td>Financiados</td>
                                        <td>#MOVILSHOP</td>
                                        <td>1124053850</td>
                                        <td>movilshopmaicao@gmail.com</td>
                                        <td>3046303112</td>
                                        <td>Si</td>
                                        <td>Si</td>
                                        <td>Medio</td>
                                        <td>Activo</td>
                                        <td>20/08/2022</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-edit"></i>
                                            </a>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-mark-location"></i>
                                            </a>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-download"></i>
                                            </a>
                                            <a href="" class="link-icon-hover-danger">
                                                <i class="crediminuto icons-slim-delete"></i>
                                            </a>
                                        </td>
                                        <td>Mensual</td>
                                        <td>Financiados</td>
                                        <td>#MOVILSHOP</td>
                                        <td>1124053850</td>
                                        <td>movilshopmaicao@gmail.com</td>
                                        <td>3046303112</td>
                                        <td>Si</td>
                                        <td>Si</td>
                                        <td>Medio</td>
                                        <td>Activo</td>
                                        <td>20/08/2022</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{{/ base }}