{{#> base }}
    {{> AppSidebar/sidebar-cm dashboards-user-info=this }}

    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDatosCliente" aria-expanded="true" aria-controls="collapseDatosCliente">
                                <h5 class="fw-bold mb-0 text-primary-cm">Erika Patricia Londoño Muñoz</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 collapsed show" id="collapseDatosCliente">
                            Estado CM: <span class="badge badge-pill badge-teal font-size-md rounded-1 fw-normal px-2 text-white">Activo</span>
                            <div class="divider"></div>
                            <div class="row">
                                <ul class="list-group col-md-4">
                                    <li class="list-group-item border-0">
                                        <strong>Info del cliente</strong>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>CÉDULA DE CIUDADANIA</div>
                                        <div>1077442380</div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>EDAD</div>
                                        <div>28 años</div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>SEXO</div>
                                        <div>F</div>
                                    </li>
                                </ul>
                                <ul class="list-group col-md-4">
                                    <li class="list-group-item border-0">
                                        <strong>Info de contacto</strong>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>CELULAR</div>
                                        <div>1077442380</div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>EMAIL</div>
                                        <div>gustman68@gmail.com</div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>TEl. ALTERNATIVO</div>
                                        <div>3002501402</div>
                                    </li>
                                </ul>
                                <ul class="list-group col-md-4">
                                    <li class="list-group-item border-0">
                                        <strong>Info del crédito</strong>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>SALDO</div>
                                        <div>$0,00</div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>CÓDIGO TOP</div>
                                        <div>BCH656</div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div>CONTRASEÑA</div>
                                        <div>w123mn8</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatusCliente" aria-expanded="true" aria-controls="collapseStatusCliente">
                                <img width="20" class="me-2 arrow" src="dist/assets/images/arrow.png" alt="">
                                <h5 class="fw-light mb-0 text-muted">Status cliente</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 collapsed show" id="collapseStatusCliente">

                            <ul class="nav nav-tabs responsive-center">
                                <li class="nav-item"><a data-bs-toggle="tab" href="#tab-eg10-0" class="nav-link">Info préstamo</a></li>
                                <li class="nav-item"><a data-bs-toggle="tab" href="#tab-eg10-1" class="active nav-link">Lista registros</a></li>
                                <li class="nav-item"><a data-bs-toggle="tab" href="#tab-eg10-2" class="nav-link">Payments Engagements</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab-eg10-0" role="tabpanel">
                                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                        software like Aldus PageMaker
                                        including versions of Lorem Ipsum.</p>
                                </div>
                                <div class="tab-pane active" id="tab-eg10-1" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-card table-responsive table-hover">
                                            <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Tipo de Crédito	</th>
                                                <th>Estado</th>
                                                <th>Retailer</th>
                                                <th>Cobrador</th>
                                                <th>Nro. de Crédito</th>
                                                <th>Cantidad</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>ZEROTOUCH_RETAILER</td>
                                                <td>SMARTPHONE</td>
                                                <td>OTORGADA</td>
                                                <td>ALMACENES EXITO S.A.</td>
                                                <td>Jesus Rodríguez Rodriguez</td>
                                                <td>1</td>
                                                <td>6</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-eg10-2" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-card table-hover table-space-1">
                                            <thead>
                                            <tr>
                                                <th>Cuota #</th>
                                                <th>Vencimiento</th>
                                                <th>Monto cuota</th>
                                                <th>Punitorio Hoy</th>
                                                <th>M. Devuelto	</th>
                                                <th>Punitorio Pagado</th>
                                                <th>Total Deuda</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>10/10/2022</td>
                                                <td>200.043,09</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>200.043,09</td>
                                                <td>POR_VENCER</td>
                                            </tr>
                                            <tr class="table-active">
                                                <td>2</td>
                                                <td>10/10/2022</td>
                                                <td>200.043,09</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>200.043,09</td>
                                                <td>POR_VENCER</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>10/10/2022</td>
                                                <td>200.043,09</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>200.043,09</td>
                                                <td>POR_VENCER</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>10/10/2022</td>
                                                <td>200.043,09</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>200.043,09</td>
                                                <td>POR_VENCER</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>10/10/2022</td>
                                                <td>200.043,09</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>200.043,09</td>
                                                <td>POR_VENCER</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>10/10/2022</td>
                                                <td>200.043,09</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>0,00</td>
                                                <td>200.043,09</td>
                                                <td>POR_VENCER</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div  class="divider"></div>
                            <div class="row">
                                <div class="col-md-12 my-md-3">
                                    Fecha Cálculo de Punitorio: <span class="badge badge-pill badge-quaternary-cm font-size-md rounded-1 fw-normal px-2 text-white">22/08/2022</span>
                                </div>
                                <div class="col-md-12">
                                    <div class="">
                                        <button class="btn btn-primary-cm btn-pill ">GENERAR OFERTA DE REFINANCIAMIENTO</button>
                                        <button class="btn btn-primary-cm btn-pill ">GENERAR COMPROMISO DE PAGO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfoCliente" aria-expanded="false" aria-controls="collapseInfoCliente">
                                <img width="20" class="me-2 arrow" src="dist/assets/images/arrow.png" alt="">
                                <h5 class="fw-light mb-0 text-muted">Info cliente</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 collapsed collapse" id="collapseInfoCliente">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrestamos" aria-expanded="false" aria-controls="collapsePrestamos">
                                <img width="20" class="me-2 arrow" src="dist/assets/images/arrow.png" alt="">
                                <h5 class="fw-light mb-0 text-muted">Préstamos</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 collapsed collapse" id="collapsePrestamos">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBancos" aria-expanded="false" aria-controls="collapseBancos">
                                <img width="20" class="me-2 arrow" src="dist/assets/images/arrow.png" alt="">
                                <h5 class="fw-light mb-0 text-muted">Bancos</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 collapsed collapse" id="collapseBancos">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header bg-white rounded-2 px-3 d-flex">
                            <button type="button" tabindex="0" class="dropdown-item collapse-button d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFile" aria-expanded="false" aria-controls="collapseFile">
                                <img width="20" class="me-2 arrow" src="dist/assets/images/arrow.png" alt="">
                                <h5 class="fw-light mb-0 text-muted">Info archivos</h5>
                            </button>
                            <div class="btn-actions-pane-right actions-icon-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            Ocultar
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Resetear</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Imprimir</span>
                                        </button>
                                        <button type="button" tabindex="0" class="dropdown-item">
                                            <span>Descargar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-5 collapsed collapse" id="collapseFile">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{/ base }}