<div class="d-flex align-items-center">
    {{#each htmlWebpackPlugin.options.list }}
        {{#if @last}}
            <h5 class="text-white fw-light">{{this}}</h5>
        {{else}}
            <h5 class="text-white fw-light">{{this}}</h5>
            <h5 class="text-white fw-light mx-2 ">/</h5>
        {{/if}}
    {{/each}}
</div>