
<div class="header-dots">
    <div class="search-wrapper">
        <div class="input-holder">
            <input type="text" class="search-input" placeholder="Buscar...">
            <button class="search-icon"><span></span></button>
        </div>
        <button class="close"></button>
    </div>
</div>
<ul class="header-megamenu nav">
    <li class="btn-group nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="crediminuto icons-slim-setting text-white"></i>
            <span class="badge badge-notifications badge-dot badge-dot-sm badge-white text-danger">1</span>
        </a>
    </li>
    <li class="btn-group nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="crediminuto icons-slim-bell text-white"></i>
            <span class="badge badge-notifications badge-dot badge-dot-sm badge-white text-danger">1</span>
        </a>
    </li>
    <li class="btn-group nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="crediminuto icons-slim-closed text-white"></i>
        </a>
    </li>
</ul>
<div class="header-btn-lg pe-0">
    <div class="widget-content p-0">
        <div class="widget-content-wrapper">
            <div class="widget-content-left">
                <div class="btn-group">
                    <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                        <img width="42" class="rounded-circle" src="https://ui-avatars.com/api/?name=Miguel&length=1&rounded=true&background=ffffff" alt="">
                    </a>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-header">
                            <div class="dropdown-menu-header-inner pb-0 pt-3">
                                <div class="menu-header-image opacity-2"></div>
                                <div class="menu-header-content text-start">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-subheading opacity-8 text-start text-muted">Miguel Gorostarzu</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item-divider mb-0 nav-item"></li>
                        </ul>
                        <div>
                            <div class="scrollbar-container ps">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link text-muted">Chat</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link text-muted">Recover Password</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>