
<div class="header-dots">
    <div class="search-wrapper">
        <div class="input-holder">
            <input type="text" class="search-input" placeholder="Type to search">
            <button class="search-icon"><span></span></button>
        </div>
        <button class="close"></button>
    </div>
</div>
<ul class="header-megamenu nav">
    <li class="btn-group nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/cm-icon-setting-w.png" alt="">
            <span class="badge badge-dot badge-dot-sm badge-white text-danger">1</span>
        </a>
       <!-- <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-secondary">
                    <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content">
                        <h5 class="menu-header-title">Overview</h5>
                        <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                    </div>
                </div>
            </div>
            <div class="scroll-area-xs">
                <div class="scrollbar-container">
                    <h6 tabindex="-1" class="dropdown-header">Key Figures</h6>
                    <button type="button" tabindex="0" class="dropdown-item">Service Calendar</button>
                    <button type="button" tabindex="0" class="dropdown-item">Knowledge Base</button>
                    <button type="button" tabindex="0" class="dropdown-item">Accounts</button>
                    <div tabindex="-1" class="dropdown-divider"></div>
                    <button type="button" tabindex="0" class="dropdown-item">Products</button>
                    <button type="button" tabindex="0" class="dropdown-item">Rollup Queries</button>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item-divider nav-item"></li>
                <li class="nav-item-btn nav-item">
                    <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
                </li>
            </ul>
        </div>-->
    </li>
    <li class="btn-group nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/cm-icon-bell-w.png" alt="">
            <span class="badge badge-dot badge-dot-sm badge-white text-danger">1</span>
        </a>
        <!--<div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-secondary">
                    <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content">
                        <h5 class="menu-header-title">Overview</h5>
                        <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                    </div>
                </div>
            </div>
            <div class="scroll-area-xs">
                <div class="scrollbar-container">
                    <h6 tabindex="-1" class="dropdown-header">Key Figures</h6>
                    <button type="button" tabindex="0" class="dropdown-item">Service Calendar</button>
                    <button type="button" tabindex="0" class="dropdown-item">Knowledge Base</button>
                    <button type="button" tabindex="0" class="dropdown-item">Accounts</button>
                    <div tabindex="-1" class="dropdown-divider"></div>
                    <button type="button" tabindex="0" class="dropdown-item">Products</button>
                    <button type="button" tabindex="0" class="dropdown-item">Rollup Queries</button>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item-divider nav-item"></li>
                <li class="nav-item-btn nav-item">
                    <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
                </li>
            </ul>
        </div>-->
    </li>
    <li class="btn-group nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/cm-icon-closed-w.png" alt="">
        </a>
        <!--<div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-secondary">
                    <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content">
                        <h5 class="menu-header-title">Overview</h5>
                        <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                    </div>
                </div>
            </div>
            <div class="scroll-area-xs">
                <div class="scrollbar-container">
                    <h6 tabindex="-1" class="dropdown-header">Key Figures</h6>
                    <button type="button" tabindex="0" class="dropdown-item">Service Calendar</button>
                    <button type="button" tabindex="0" class="dropdown-item">Knowledge Base</button>
                    <button type="button" tabindex="0" class="dropdown-item">Accounts</button>
                    <div tabindex="-1" class="dropdown-divider"></div>
                    <button type="button" tabindex="0" class="dropdown-item">Products</button>
                    <button type="button" tabindex="0" class="dropdown-item">Rollup Queries</button>
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item-divider nav-item"></li>
                <li class="nav-item-btn nav-item">
                    <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
                </li>
            </ul>
        </div>-->
    </li>
</ul>
<div class="header-btn-lg pr-0">
    <div class="widget-content p-0">
        <div class="widget-content-wrapper">
            <div class="widget-content-left">
                <div class="btn-group">
                    <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                        <img width="42" class="rounded-circle" src="https://ui-avatars.com/api/?name=Miguel&length=1&rounded=true&background=ffffff" alt="">
                    </a>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-header">
                            <div class="dropdown-menu-header-inner pb-0 pt-3">
                                <div class="menu-header-image opacity-2"></div>
                                <div class="menu-header-content text-left">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-subheading opacity-8 text-start text-muted">Miguel Gorostarzu</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item-divider mb-0 nav-item"></li>
                        </ul>
                        <div>
                            <div class="scrollbar-container ps">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link text-muted">Chat</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link text-muted">Recover Password</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>